@page "/"


<div class="container d-flex justify-content-center ">
    <h1> To-Do App!</h1>
    <div>
        <input type="text"  />
        <button @onclick="text" class="btn btn-primary"> Add </button>
    </div>
</div>

@code
{
    public void text()
    {
        System.Console.WriteLine("Hello World");
    }
}