@page "/"


<div class="container d-flex flex-column justify-content-center">
    <Header />
    <div class="d-flex gap- justify-content-center">
        <input  type="text" @bind="todoInput"  />
        <button @onclick="AddTodo" class="btn btn-primary"> Add </button>
    </div>
</div>

@code
{
    [Parameter]
    public string? todoInput { get; set; } = default!;

    public void AddTodo()
    {
        Console.WriteLine(todoInput);
    }
}