@page "/"

<div class="container d-flex flex-column justify-content-center">
    <Header />
    <div class="d-flex gap- justify-content-center">
        <input type="text" @bind="todoInput" />
        <button @onclick="AddTodo" class="btn btn-primary"> Add </button>
    </div>


        @foreach (var todo in todos)
        {

            <div class="todo-item d-flex flex-row justify-content-center gap-5 text-light ">
                <div class="todo_item_text">@todo</div>
                <div class="todo-item__close">&times;</div>
            </div>
        }


</div>

@code
{
    [Parameter]
    public string? todoInput { get; set; }
    public List<string> todos = new List<string>();

    public void AddTodo()
    {
        Console.WriteLine(todoInput);
        todos.Add(todoInput);
        Console.WriteLine(todos);
    }
}