@page "/"


<div class="container d-flex flex-column justify-content-center border">
    <Header></Header>
    <h1 class="text-center"> To-Do App!</h1>
    <div class="d-flex gap- justify-content-center">
        <input  type="text"  />
        <button @onclick="text" class="btn btn-primary"> Add </button>
    </div>
</div>

@code
{
    public void text()
    {
        Console.WriteLine("Hello World");
    }
}